#card {
    position: relative;
    margin: auto auto 30px auto;
    left: 0;
    top: 50px;
    width: 600px;
    height: 600px;
    background: #fff;
    padding: 0;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 12px 40px 1px rgba(0, 0, 0, 0.2), 0 15px 20px 1px rgba(0, 0, 0, 0.2);
}

#fontAssig {
    font-size: 96px;
    position: relative; 
    top: 10px;
    color: #09556C;
    margin: auto;
}

#busProOnly {
    position: relative;
    top: 150px;
    width: 250px;
    height: 50px;
    margin: auto;
    color: #09556C;
    background: #fff;
    border-radius: 2px;
}

#busProOnly:hover {
    border: solid #09556C 1px;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#busProOnly:active {
    color: #fff;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    background: #09556C;
}

#cardLeft {
    position: relative;
    margin: auto auto 30px auto;
    left: -20%;
    top: 75px;
    width: 550px;
    height: 550px;
    background: #fff;
    padding: 0;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 12px 40px 1px rgba(0, 0, 0, 0.2), 0 15px 20px 1px rgba(0, 0, 0, 0.2);
}

#cardRight {
    position: relative;
    margin: auto auto 30px auto;
    left: 21%;
    top: -505px;
    width: 550px;
    height: 550px;
    background: #fff;
    padding: 0;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 12px 40px 1px rgba(0, 0, 0, 0.2), 0 15px 20px 1px rgba(0, 0, 0, 0.2);
}

.fontUser {
    font-size: 96px;
    position: relative; 
    top: 10px;
    color: #09556C;
    margin: auto;
}

#newUser, #editUser {
    position: relative;
    top: 120px;
    width: 250px;
    height: 50px;
    margin: auto auto 70px auto;
    color: #09556C;
    background: #fff;
    border-radius: 2px;
}

#newUser:hover, #editUser:hover {
    border: solid #09556C 1px;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#newUser:active, #editUser:active {
    color: #fff;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    background: #09556C;
}

#newPro, #busPro {
    position: relative;
    top: 120px;
    width: 260px;
    height: 50px;
    margin: auto auto 70px auto;
    color: #09556C;
    background: #fff;
    border-radius: 2px;
}

#newPro:hover, #busPro:hover {
    border: solid #09556C 1px;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#newPro:active, #busPro:active {
    color: #fff;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    background: #09556C;
}

#contCard {
    position: absolute;
    height: 0;
    padding: 0;
    width: 100%;
}

/*Inicio media queries*/

@media screen and (min-height: 900px) {

    #card {
        height: 700px;
    }

    #cardLeft {
        height: 600px;
    }

    #cardRight {
        height: 600px;
        top: -555px;
    }

}

@media screen and (max-width: 1450px) {

    #account {
        width: inherit;
        margin: auto;
    }

    #cardLeft {
        left: -25%;
    }

    #cardRight {
        left: 25%;
    }
}

@media screen and (max-width: 1168px) {

    #cardLeft {
        width: 400px;
        left: -26%;
    }

    #cardRight {
        width: 400px;
        left: 26%;
    }

}

@media screen and (max-width: 875px) {
    
    #card {
        width: 500px;
    }

    #cardLeft {
        width: 500px;
        left: 0;
    }

    #cardRight {
        width: 500px;
        left: 0;
        top: 60px;
    }
}

@media screen and (max-width: 568px) {
    
    #card {
        width: 400px;
        height: 800px;
    }

    #cardLeft {
        width: 400px;
    }

    #cardRight {
        width: 400px;
        top: 60px;
    }

}

/*Fin media queries*/
