#card {
    position: absolute;
    width: 700px;
    height: 700px;
    background: #fff;
    margin: 0;
    padding: 0;
    top: 7%;
    left: 8%;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 12px 40px 1px rgba(0, 0, 0, 0.2), 0 15px 20px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

#fontFind {
    font-size: 96px;
    position: relative; 
    top: 10px;
    color: #09556C;
    margin: auto;
}

#logo {
    position: absolute;
    top: 30%;
    left: 63%;
}

#buscar {
    position: relative;
    top: 50px;
    margin: auto;
    width: 500px;
    height: 50px;
}

.textErrorLetras {
    position: absolute;
    top: 34%;
    left: 14.5%;
    color: #B71C1C;
    font-family: 'Roboto-Regular';
    font-size: 20px;
}

#contenCoin {
    position: relative;
    top: 5%;
    padding: 0;
    margin: auto;
    width: 500px;
    height: 400px;
    overflow: auto;
}

.listaCoin {
    width: 450px;
    height: 30px;
    text-align: left;
    top: 0;
    left: 0;
    margin: 15px 0;
    padding: 0;
    font-family: 'Roboto-Regular';
    font-size: 24px;
    color: #696969;
    overflow: hidden;
}

.nombre {
    font-family: 'Roboto-Regular';
    color: #09556C;
}

.linkCoinci {
    position: relative;
}

.listaCoin:hover {
    background: rgba(20, 164, 217, 0.5);
}

/*Inicio media queries*/

@media screen and (max-width: 1350px) {
    
    #logo {
        display: none;
    }

    #card {
        position: relative;
        margin: auto auto 50px auto;
        left: 0;
        top: 50px;
    }

    #account {
        width: 700px;
        margin: auto;
    }

}

@media screen and (max-width: 768px) {
    
    #card {
        width: 600px;
    }

    #buscar {
        width: 450px;
    }

    #account {
        width: 600px;
    }

    #contenCoin {
        width: 450px;
    }

    .listaCoin {
        width: 400px;
    }

}

@media screen and (max-width: 668px) {
    
    #card {
        width: 500px;
    }

    #buscar {
        width: 350px;
    }

    #account {
        width: 500px;
    }

    #contenCoin {
        width: 350px;
    }

    .listaCoin {
        width: 300px;
    }

}

@media screen and (max-width: 568px) {
    
    #card {
        width: 400px;
        height: 800px;
    }

    #buscar {
        width: 300px;
    }

    #account {
        width: 400px;
    }

    #contenCoin {
        width: 300px;
        height: 450px;
    }

    .listaCoin {
        width: 300px;
    }

}

/*Fin media queries*/
