#card {
    position: relative;
    margin: auto auto 50px auto;
    left: 0;
    top: 25px;
    width: 1350px;
    height: 600px;
    background: #fff;
    padding: 0;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 12px 40px 1px rgba(0, 0, 0, 0.2), 0 15px 20px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

#fontFind {
    font-size: 96px;
    position: relative; 
    top: 10px;
    color: #09556C;
    margin: auto;
}

.lista {
    position: relative;
    width: 600px;
    height: 30px;
    text-align: left;
    top: -35px;
    left: 6%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular';
    font-size: 24px;
    color: #696969;
    cursor: pointer;
    overflow: hidden;
}

.lista:hover {
    background: rgba(20, 164, 217, 0.5);
}

.listaFile {
    position: relative;
    width: 600px;
    height: 30px;
    text-align: left;
    top: -35px;
    left: 6%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular';
    font-size: 24px;
    color: #696969;
    cursor: pointer;
    overflow: hidden;
}

.fontFolder {
    position: relative;
    text-align: left;
    font-size: 40px !important;
    margin: 0;
    padding: 0;
    left: -47%;
    color: #09556C;
}

.fontFile {
    position: relative;
    text-align: left;
    font-size: 40px !important;
    margin: 0;
    padding: 0;
    left: -47%;
    color: #696969;
}

#fontFindP {
    font-size: 85px;
    position: absolute;
    left: 2%;
    top: 10px;
    color: #09556C;
    margin: auto;
}

#textFindP {
    position: absolute;
    font-family: 'Roboto-Regular';
    left: 120px;
    font-size: 30px;
    color: #09556C;
    top: 30px;
    margin: auto;
}

#buscar {
    position: absolute;
    top: 30px;
    left: 800px;
    margin: auto;
    width: 500px;
    height: 50px;
}

#contenedor {
    position: absolute;
    width: 750px;
    height: 400px;
    left: 40px;
    top: 170px;
    overflow: auto;
}

#cargar {
    position: absolute;
    top: 100px;
    left: 800px;
    width: 500px;
    height: 5px;
    background: #BEE8FA;
    overflow: hidden;
    display: none;
}

#despla {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 5px;
    background: #09556C;
    -webkit-animation: animacion 2s ease-in-out infinite;
    -moz-animation: animacion 2s ease-in-out infinite;
    animation: animacion 2s cubic-bezier(.35, .77, .65, .18) infinite;
}

@-webkit-keyframes animacion {
    0% {
        -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        transform: translateX(-250px);
    }
    100% {
        -webkit-transform: translateX(500px);
        -ms-transform: translateX(500px);
        -moz-transform: translateX(500px);
        transform: translateX(500px);
    }
}

@-moz-keyframes animacion {
    0% {
        -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        transform: translateX(-250px);
    }
    100% {
        -webkit-transform: translateX(500px);
        -ms-transform: translateX(500px);
        -moz-transform: translateX(500px);
        transform: translateX(500px);
    }
}

@keyframes animacion {
    0% {
        -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        transform: translateX(-250px);
    }
    100% {
        -webkit-transform: translateX(500px);
        -ms-transform: translateX(500px);
        -moz-transform: translateX(500px);
        transform: translateX(500px);
    }
}


#contDer {
    position: absolute;
    top: 170px;
    left: 800px;
    width: 500px;
    height: 400px;
}

#cargaArchivos {
    position: absolute;
    top: 290px;
    left: 0;
    width: 498px;
    height: 100px;
    border: solid 1px #09556C;
    border-radius: 3px;
    color: #09556C;
    font-size: 22px;
    display: none;
}   

#cargaArchivos > p {
    width: 220px;
    margin-top: 35px;
    background: rgba(255,255,255, 0) !important;
    font-size: 16px;
    margin: 40px auto auto auto;
    z-index: -5;
}

#infoArchivos {
    position: absolute;
    top: 0;
    left: 180px;
    width: 320px;
    height: 250px;
    text-align: left;
    color: #09556C;
    overflow: auto;
}

#infoArchivos > p {
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

#infoArchivos > .totalArch {
    color: #B71C1C;
    margin: 0;
}

#nuevaCBut {
    position: absolute;
    top: 0;
    left:0;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background: #09556C;
    border-radius: 2px;
    display: none;
}

#nuevaCBut:hover {
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#nuevaCBut:active {
    color: #09556C;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    background: #E9E9E9;
}

#elimCBut {
    position: absolute;
    top: 70px;
    left: 0;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background: #09556C;
    border-radius: 2px;
    display: none;
}

#elimCBut:hover {
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#elimCBut:active {
    background: #E9E9E9;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    color: #09556C;
}

#fileElem {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#fileElem + label {
    position: absolute;
    top: 140px;
    left: 0;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    background: #09556C;
    color: #FFF;
    font-size: 18px;
    -webkit-transition: box-shadow 0.2s ease-in-out,
                        border 0.5s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out,
                     border 0.5s ease-in-out;
    transition: box-shadow 0.2s ease-in-out,
                border 0.5s ease-in-out;
    display: none;
}

#fileElem + label > p {
    margin-top: 10px;
}

#fileElem + label:hover {
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#fileElem + label:active {
    color: #09556C;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    background: #E9E9E9;
}

#fileElem + label * {
    pointer-events: none;
}

#botonCargar {
    position: absolute;
    top: 210px;
    left: 0;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background: #09556C;
    border-radius: 2px;
    display: none;
}

#botonCargar:hover {
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#botonCargar:active {
    color: #09556C;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    background: #E9E9E9;
}

#contRuta {
    position: absolute;
    top: 18%;
    left: 90px;
    width: 700px;
    height: 20px;
    text-align: left;
    font-size: 16px;
    color: #696969;
    overflow: hidden;
    font-family: 'Roboto-Regular';
}

#atras {
    position: absolute;
    top: 16%;
    left: 3%;
    width: 45px;
    height: 45px;
    color: #696969;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    display: none;
}

#fontAtras {
    font-size: 45px;
}

#atras:hover {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.2);
    background: #E9E9E9;
}

#atras:active {
    color: #fff;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.2);
    background: #09556C;
}

/*Inicio media queries*/

@media screen and (min-height: 900px) {

    #card {
        height: 700px;
    }

    #contenedor {
        height: 500px;
    }

    #contDer {
        height: 500px;
    }

    #cargaArchivos {
        height: 200px;
    } 

    #cargaArchivos > p {
        margin: 85px auto auto auto;
    }
}

@media screen and (max-width: 1500px) {

    #card {
        width: 1000px;
    }

    #account {
        width: 1000px;
        margin: auto;
    }

    #buscar {
        top: 30px;
        left: 450px;
    }

    #cargar {
        left: 450px;
    }
}

@media screen and (max-width: 1024px) {
    
    #card {
        width: 600px;
    }

    #buscar {
        position: relative;
        top: 10px;
        left: 0;
        width: 400px;
    }

    #cargar {
        position: relative;
        top: 30px;
        left: 0;
        width: 400px;
        margin: auto;
    }

    #account {
        width: 600px;
    }

    #fontFindP {
        position: relative;
        margin: auto;
        left: 0;
    }

    #textFindP {
        position: relative;
        margin: auto;
        left: 0;
        top: 0;
    }

    #contenedor {
        position: relative;
        left: 0;
        top: 60px;
        margin: auto;
        width: 500px;
        height: 300px;
    }

    .lista {
        position: relative;
        width: 400px;
        left: 9%;
    }

    .fontFolder {
        left: -46%;
    }

}

@media screen and (max-width: 668px) {
    
    #card {
        width: 500px;
    }

    #buscar {
        width: 350px;
    }

    #account {
        width: 500px;
    }

    #contenedor {
        width: 400px;
    }

    .lista {
        width: 300px;
        left: 11%;
    }

    .fontFolder {
        left: -45%;
    }

    #cargar {
        width: 350px;
    }
}

@media screen and (max-width: 568px) {
    
    #card {
        width: 400px;
        height: 800px;
    }

    #buscar {
        width: 300px;
    }

    #account {
        width: 400px;
    }

    #contenedor {
        width: 300px;
        height: 500px;
    }

    .lista {
        width: 240px;
        left: 14%;
    }

    .fontFolder {
        left: -44%;
    }

    #cargar {
        width: 300px;
    }

}

/*Fin media queries*/
