#card {
    position: absolute;
    width: 700px;
    height: 700px;
    background: #fff;
    margin: 0;
    padding: 0;
    top: 7%;
    left: 8%;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 12px 40px 1px rgba(0, 0, 0, 0.2), 0 15px 20px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

#logo {
    position: absolute;
    top: 30%;
    left: 63%;
}

#fontEdit {
    font-size: 96px;
    position: relative; 
    top: 10px;
    color: #09556C;
    margin: auto;
}

#formularioEdit {
    position: relative;
    width: inherit;
    height: 80%;
    display: block;
}

#nombre {
    position: relative;
    top: 7%;
    margin: auto;
    width: 500px;
    height: 40px;
}

#contrasena {
    position: relative;
    top: 14%;
    margin: auto;
    width: 500px;
    height: 40px;
}

#lista {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Medium';
    font-size: 24px;
    background: rgba(0, 0, 0, 0);
    position: relative;
    width: 500px;
    height: 40px;
    border-bottom: solid #09556C 1px;
    top: 21%;
    margin: auto;
    color: #09556C
}

#lista:focus {
    outline: 0px;
}

#textPermiso {
    position: absolute;
    top: 50%;
    left: 14.5%;
    font-family: 'Roboto-Regular';
    font-size: 20px;
    color: #09556C;
}

#permisos {
    position: absolute;
    width: 300px;
    height: 145px;
    top: 58%;
    left: 14.5%;
    overflow: auto;
}

.permBox {
    display: block;
    margin: 0;
}

.textBox {
    display: block;
    position: relative;
    margin: 20px 0;
    width: 230px;
    height: 20px;
    text-align: left;
    color: #09556C;
    top: -25px;
    left: 40px;
    margin: 0;
}

#submitNUser {
    position: absolute;
    top: 84%;
    left: 71%;
    color: #09556C;
    width: 100px;
    height: 50px;
}

#submitNUser:hover {
    border: solid #09556C 1px;
    border-radius: 2px;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#submitNUser:active {
    background: #09556C;
    border-radius: 2px;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    color: #FFF;
}

#elimUser {
    position: absolute;
    font-size: 24px;
    width: 230px;
    height: 50px;
    color: #FFF;
    top: 87%;
    left: 14.5%;
    background: #D74242;
    border-radius: 2px;
}

#elimUser:hover {
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#elimUser:active {
    background: #E9E9E9;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    color: #D74242;
}

.errorNombre {
    position: absolute;
    top: 32%;
    left: 14.5%;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    width: 300px;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #B71C1C;
    text-align: left;
}

.errorPass {
    position: absolute;
    top: 44%;
    left: 14.5%;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    width: 300px;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #B71C1C;
    text-align: left;
}

.errorRol {
    position: absolute;
    top: 55%;
    left: 14.5%;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    width: 300px;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #B71C1C;
    text-align: left;
}

.errorCheck {
    position: absolute;
    top: 62.5%;
    left: 14.5%;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    width: 300px;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #B71C1C;
    text-align: left;
}

/*Inicio media queries*/

@media screen and (max-width: 1350px) {
    
    #logo {
        display: none;
    }

    #card {
        position: relative;
        margin: auto auto 50px auto;
        left: 0;
        top: 50px;
    }

    #account {
        width: 700px;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    
    #card {
        width: 600px;
    }

    #nombre, #contrasena {
        width: 450px;
    }

    #lista {
        width: 450px;
    }

    #account {
        width: 600px;
    }
    
    #textPermiso {
        left: 12.5%;
    }

    #permisos {
        left: 12.5%;
    }

    #elimUser {
        left: 12.5%;
    }
}

@media screen and (max-width: 668px) {
    
    #card {
        width: 500px;
    }

    #nombre, #contrasena {
        width: 350px;
    }

    #lista {
        width: 350px;
    }

    #account {
        width: 500px;
    }

    #textPermiso {
        left: 15%;
    }

    #permisos {
        left: 15%;
    }
}

@media screen and (max-width: 568px) {
    
    #card {
        width: 400px;
        height: 800px;
    }

    #nombre, #contrasena {
        width: 300px;
    }

    #lista {
        width: 300px;
    }

    #account {
        width: 400px;
    }

    #submitNUser {
        top: 90%;
        left: 40%; 
    }

    #elimUser {
        top: 80%;
        left: 12.5%;
    }

    .errorNombre {
        top: 27%;
        left: 12.5%;
    }

    .errorPass {
        top: 37%;
        left: 12.5%;
    }

    .errorRol {
        top: 47%;
        left: 12.5%;
    }

    .errorCheck {
        top: 57%;
        left: 12.5%;
    }

    #textPermiso {
        left: 12.5%;
        top: 46%;
    }

    #permisos {
        left: 12.5%;
        top: 54%;
    }

}

/*Fin media queries*/
