#titulo {
    position: relative;
    top: 60px;
    text-align: center;
    font-family: 'Roboto-light';
    font-size: 48px;
    color: #09556C;
}

#card {
    position: relative;
    width: 500px;
    height: 550px;
    background: #FFF;
    margin: auto;
    padding: 0;
    border-radius: 7px;
    top: 130px;
    text-align: center;
    box-shadow: 0 12px 40px 1px rgba(0, 0, 0, 0.2), 0 15px 20px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

#fontAccountForm {
    font-size: 96px;
    position: relative; 
    top: 20px;
    color: #09556C;
    width: inherit;
}

#subTitulo {
    top: 11%;
    font-family: 'Roboto-light';
}

#signIn {
    position: relative;
    width: inherit;
    height: 75%;
    display: block;
}

#usuario {
    position: relative;
    width: 300px;
    height: 40px;
    top: 70px;
    margin: auto;
    text-align: center;
}

#pUsuario {
    font-family: 'Roboto-Regular';
    position: relative;
    top: 10%;
    font-size: 30px;
    color: #09556C;
}

#pContrasena {
    font-family: 'Roboto-Regular';
    position: relative;
    top: 20%;
    font-size: 30px;
    color: #09556C;
}

#contrasena {
    position: relative;
    width: 300px;
    height: 40px;
    top: 185px;
    margin: auto;
    text-align: center;
}

#bIngresa {
    position: relative;
    top: 190px;
    background: rgba(255, 255, 255, 1);
    font-size: 24px;
    width: 120px;
    height: 60px;
    margin: auto;
    color: #09556C;
}

#bIngresa:hover {
    border: solid #09556C 1px;
    border-radius: 2px;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#bIngresa:active {
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    background: #09556C;
    border-radius: 2px;
    color: #FFF;
}

#check {
    position: absolute;
    width: 50px;
    height: 45px;
    top: 35%;
    left: 85%;
}

#rutaCheck, #rutaCheckX {
    transition: stroke-dashoffset 500ms ease-in-out;
    -moz-transition: stroke-dashoffset 500ms ease-in-out;
}

#noCheck {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 35%;
    left: 85%;
    /*display: none;*/
}

#rutaCheckX2 {
    transition: stroke-dashoffset 500ms ease-in-out 200ms;
    -moz-transition: stroke-dashoffset 500ms ease-in-out 200ms;
}

#temp_idButton {
    position: absolute;
    left: 37%;
    top: 80%;
    background: rgba(255, 255, 255, 1);
    color: #09556C;
    font-family: 'Roboto-Regular';
    font-size: 24px;
    width: 120px;
    height: 60px;
}

#divDisabled {
    position: relative;
    margin: auto;
    padding: 0;
    width: 320px;
    height: 250px;
    background: rgba(255, 255, 255, 0.6);
    top: -220px;
}

.error {
    position: absolute;
    width: 200px;
    height: 25px;
    padding-top: 5px;
    top: 45%;
    left: 30%;
    color: #B71C1C;
}

.error1 {
    position: absolute;
    width: 200px;
    height: 25px;
    padding-top: 5px;
    top: 74%;
    left: 30%;
    color: #B71C1C;
    z-index: 1;
}

/*Inicio media queries*/

@media screen and (max-width: 700px) {
    
    #card  {
        width: 400px;
    }
}

/*Fin media queries*/