.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body {
    height: 100%;
    font-family: 'Roboto-Medium';
    background: #14A4D9;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

#titulo {
    position: relative;
    top: 60px;
    /*left: 26%;*/
    text-align: center;
    font-family: 'Roboto-light';
    font-size: 48px;
    color: #FFF;
}

#card {
    position: absolute;
    width: 500px;
    height: 550px;
    background: #FFF;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    top: 22%;
    left: 34.5%;
    text-align: center;
    box-shadow: 0 12px 40px 1px rgba(0, 0, 0, 0.2), 0 15px 20px 1px rgba(0, 0, 0, 0.2);
}

#fontAccount {
    font-size: 96px;
    position: absolute; 
    top: 4%;
    left: 41%;
    color: #09556C;
}

input[type="text"], input[type="password"], input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular';
    font-size: 22px;
    text-align: center;
    color: #09556C; 
    background: rgba(0, 0, 0, 0); 
}

input[type="text"]:focus, input[type="password"]:focus, input[type="button"]:focus {
    outline: 0px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#usuario {
    border-bottom: solid #09556C 1px;
    position: absolute;
    width: 300px;
    height: 40px;
    top: 34%;
    left: 20%;
}

#pUsuario {
    font-family: 'Roboto-light';
    position: relative;
    top: 25%;
    font-size: 26px;
    color: #09556C;
}

#pContrasena {
    font-family: 'Roboto-light';
    position: relative;
    top: 49%;
    font-size: 26px;
    color: #09556C;
}

#contrasena {
    border-bottom: solid #09556C 1px;
    position: absolute;
    width: 300px;
    height: 40px;
    top: 64%;
    left: 20%;
}

#bIngresa {
    position: absolute;
    left: 38%;
    top: 82%;
    background: rgba(255, 255, 255, 1);
    color: #09556C;
    font-family: 'Roboto-Regular';
    font-size: 24px;
    width: 120px;
    height: 60px;
    -webkit-transition: box-shadow 0.2s ease-in-out,
                        border 0.5s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out,
                     border 0.5s ease-in-out;
    transition: box-shadow 0.2s ease-in-out,
                border 0.5s ease-in-out;
}

#bIngresa:hover {
    border: solid #09556C 1px;
    border-radius: 2px;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#bIngresa:active {
    background: #09556C;
    color: #FFF;
}

#check {
    position: absolute;
    width: 50px;
    height: 45px;
    top: 33%;
    left: 85%;
}

#rutaCheck, #rutaCheckX {
    transition: stroke-dashoffset 500ms ease-in-out;
}

#noCheck {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 33%;
    left: 85%;
    /*display: none;*/
}

#rutaCheckX2 {
    transition: stroke-dashoffset 500ms ease-in-out 200ms;
}

#temp_idButton {
    position: absolute;
    left: 37%;
    top: 80%;
    background: rgba(255, 255, 255, 1);
    color: #09556C;
    font-family: 'Roboto-Regular';
    font-size: 24px;
    width: 120px;
    height: 60px;
}

#textoError {
    position: absolute;
    margin: 0;
    text-align: center;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    border-radius: 3px;
}

.error {
    width: 200px;
    height: 25px;
    padding-top: 5px;
    top: 43%;
    left: 30%;
    color: #B71C1C;
}

.error1 {
    width: 200px;
    height: 25px;
    padding-top: 5px;
    top: 73%;
    left: 30%;
    color: #B71C1C;
}

#divDisabled {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 320px;
    height: 250px;
    background: rgba(255, 255, 255, 0.6);
    top: 52%;
    left: 18%;
}

