.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto-Regular';
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    position: relative;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

#subTitulo {
    position: relative;
    font-family: 'Roboto-Regular';
    font-size: 30px;
    color: #09556C;
    margin: auto;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Roboto-Regular';
    font-size: 26px; /*Importante establecer el tamaño de la fuente*/
    width: 100%; /*Ocupa el tamaño total del padre*/
    height: calc(100% - 16px); /*El tamaño total del padre menos el espacio de arriba de 15px*/
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(9,85,108,0.60);
    position: absolute;
    bottom: 0; /*Para que siempre se encuentre en el footer del padre*/
    background: rgba(255,255,255,0);
    color: #09556C;
    left: 0;
}

input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%; /*Ocupa el tamaño total del padre*/
    font-family: 'Roboto-Regular';
    font-size: 26px; /*Importante establecer el tamaño de la fuente*/
    height: calc(100% - 16px); /*El tamaño total del padre menos el espacio de arriba de 15px*/
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(9,85,108,0.60);
    position: absolute;
    bottom: 0; /*Para que siempre se encuentre en el footer del padre*/
    background: rgba(255,255,255,0);
    color: #09556C;
    left: 0;
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%; /*Ocupa el tamaño total del padre*/
    font-family: 'Roboto-Regular';
    font-size: 26px; /*Importante establecer el tamaño de la fuente*/
    height: calc(100% - 16px); /*El tamaño total del padre menos el espacio de arriba de 15px*/
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(9,85,108,0.60);
    position: absolute;
    bottom: 0; /*Para que siempre se encuentre en el footer del padre*/
    background: rgba(255,255,255,0);
    color: #09556C;
    left: 0;
}

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Roboto-Regular';
    font-size: 26px; /*Importante establecer el tamaño de la fuente*/
    width: 100%; /*Ocupa el tamaño total del padre*/
    height: calc(100% - 16px); /*El tamaño total del padre menos el espacio de arriba de 15px*/
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(9,85,108,0.60);
    position: absolute;
    bottom: 0; /*Para que siempre se encuentre en el footer del padre*/
    background: rgba(255,255,255,0);
    color: #09556C;
    left: 0;
}

input[type="submit"], input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Medium';
    font-size: 28px;
    background: rgba(0, 0, 0, 0);
    /*border: solid #09556C 1px;*/
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2), 0 5px 7px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    -webkit-transition: box-shadow 0.2s ease-in-out,
                        border 0.5s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out,
                     border 0.5s ease-in-out;
    transition: box-shadow 0.2s ease-in-out,
                border 0.5s ease-in-out;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 28px;
    height: 28px;
    border: solid #09556C 2px;
    border-radius: 2px;
    padding: 0;
}

input[type="checkbox"]:checked {
    border: solid #09556C 1px;
    background-color: #09556C;
    background-image: url("../assets/check.png");
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 3px;
}

input[type="text"]:focus, input[type="submit"]:focus, input[type="button"], input[type="password"], input[type="checkbox"]:focus, input[type="number"]:focus, input[type="search"]:focus {
    outline: 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
    color: #09556C !important;
}

input::-webkit-input-placeholder {
    color: #09556C;
    opacity: 0.54;
    font-family: 'Roboto-Regular';
    font-size: 20px;
}

input::-moz-placeholder {
    color: #09556C;
    opacity: 0.54;
    font-family: 'Roboto-Regular';
    font-size: 20px;
}

input:-ms-input-placeholder {
    color: #09556C;
    opacity: 0.54;
    font-family: 'Roboto-Regular';
    font-size: 20px;
}

input::placeholder {
    color: #09556C;
    opacity: 0.54;
    font-family: 'Roboto-Regular';
    font-size: 20px;
}

#account {
    position: relative;
    text-align: right;
    width: 100%;
    height: 100px;
}

#fontAccount {
    position: relative; 
    font-size: 108px;
    left: -20px;
    color: #09556C;
    cursor: pointer;
}

#textUser {
    position: relative;
    font-family: 'Roboto-light';
    font-size: 28px;
    left: -140px;
    top: -90px;
    color: #09556C;
}

#textRol {
    position: relative;
    font-family: 'Roboto-Light';
    font-size: 24px;
    left: -140px;
    top: -90px;
    color: #09556C;
}

#btnClose {
    position: relative;
    top: -65px;
    left: -20px;
    margin: auto;
    color: #09556C;
    border-radius: 2px;
    font-size: 18px;
    cursor: pointer;
}

#dialogo {
    position: relative;
    margin: 0 auto 0 auto;
    top: 50px;
    width: 400px;
    height: 400px;
    z-index: 2;
    background: #FFF;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2), 0 3px 50px 1px rgba(0, 0, 0, 0.2);
    animation: fadeIn 200ms ease-in-out;
    -moz-animation: fadeIn 200ms ease-in-out;
    -webkit-animation: fadeIn 200ms ease-in-out;
    -o-animation: fadeIn 200ms ease-in-out;
}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: fadeIn 200ms ease-in-out;
    -moz-animation: fadeIn 200ms ease-in-out;
    -webkit-animation: fadeIn 200ms ease-in-out;
    -o-animation: fadeIn 200ms ease-in-out;
}

#tituloDialog {
    font-size: 34px;
    color: #09556C;
    position: relative;
    top: 12%;
    left: 10%;
}

#textInfo {
    font-family: 'Roboto-Regular';
    font-size: 24px;
    position: relative;
    top: 32%;
    left: 10%;
    color: #696969;
}

#btnListo {
    position: absolute;
    width: 100px;
    height: 50px;
    color: #09556C;
    left: 65%;
    top: 77%;
}

#btnListo:hover {
    border: solid #09556C 1px;
    border-radius: 2px;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#btnListo:active {
    background: #09556C;
    border-radius: 2px;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    color: #FFF;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-o-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fieldTextL {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Arial';
    cursor: text;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    color: rgba(9,85,108,0.60);
    position: absolute;
    bottom: 0;
    margin-bottom: 4px;
    left: 0;
}

.labelAnimate {
    font-size: 15px;
    -webkit-transform: translate(0, -30px);
    -moz-transform: translate(0, -30px);
    -o-transform: translate(0, -30px);
    -ms-transform: translate(0, -30px);
    transform: translate(0, -30px);
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.contInput {
    position: relative;
    width: 500px;
    height: calc(40px + 10px);
    font-size: 22px;
    margin: auto;
    top: 20px;
    margin-bottom: 25px;
}

#menu {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #09556C;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#menuNav {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    left: -300px;
    z-index: 1;
    background: darkorange;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.menuOpen {
    transform: translate(300px, 0);
}

.menuChange {
    transform: translate(280px, 0) rotate(360deg);
}

#coverMenu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}
