.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body {
    height: 100%;
    font-family: 'Roboto-Medium';
    background: #14A4D9;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

#fontAccount {
    font-size: 108px;
    position: absolute; 
    top: 2%;
    left: 91%;
    color: #FFF;
}

#textUser {
    position: absolute;
    width: 550px;
    height: 30px;
    font-family: 'Roboto-light';
    font-size: 28px;
    top: 4.5%;
    left: 56%;
    text-align: right;
}

#textRol {
    position: absolute;
    width: 300px;
    height: 30px;
    font-family: 'Roboto-Light';
    font-size: 24px;
    top: 9.5%;
    left: 71.6%;
    text-align: right;
    
}

#card {
    position: absolute;
    width: 700px;
    height: 700px;
    background: #fff;
    margin: 0;
    padding: 0;
    top: 7%;
    left: 8%;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 12px 40px 1px rgba(0, 0, 0, 0.2), 0 15px 20px 1px rgba(0, 0, 0, 0.2);
}

#logo {
    position: absolute;
    top: 30%;
    left: 63%;
}

#fontNewFolder {
    font-size: 96px;
    position: absolute; 
    top: 2%;
    left: 41.5%;
    color: #09556C;
}

#textNewUser {
    position: absolute;
    font-family: 'Roboto-Regular';
    font-size: 30px;
    color: #09556C;
    top: 15%;
    left: 34.5%;
}

input[type="text"], input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-light';
    font-size: 24px;
    background: rgba(0, 0, 0, 0);
    width: 500px;
    height: 40px;
    left: 14.5%;
    /*background: darkred;*/
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Medium';
    font-size: 28px;
    background: rgba(0, 0, 0, 0);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 28px;
    height: 28px;
    border: solid #09556C 2px;
    border-radius: 2px;
    padding: 0;
}

input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"]:checked {
    border: solid #09556C 1px;
    background-color: #09556C;
    background-image: url("../assets/check.png");
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 3px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="submit"]:focus {
    outline: 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
}

/*input::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1
}

input::-webkit-calendar-picker-indicator::after {
  content: '';
  display: block;
  background: url("../assets/logo.png") no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translateX(-2%);

}*/

input::-webkit-input-placeholder {
    color: #09556C;
    font-family: 'Roboto-Regular';
    font-size: 18px;
}

input::-moz-placeholder {
    color: #09556C;
    font-family: 'Roboto-Regular';
    font-size: 18px;
}

#nombre {
    position: absolute;
    border-bottom: solid #09556C 1px;
    top: 25%;
}

#numero {
    position: absolute;
    border-bottom: solid #09556C 1px;
    top: 35%;
}

#contrasena {
    position: absolute;
    border-bottom: solid #09556C 1px;
    top: 45%;
}

#lista {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Light';
    font-size: 24px;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    width: 500px;
    height: 40px;
    border-bottom: solid #09556C 1px;
    top: 55%;
    left: 14.5%;
}

#lista:focus {
    outline: 0px;
}

#textPermiso {
    position: absolute;
    top: 67%;
    left: 14.5%;
    font-family: 'Roboto-Regular';
    font-size: 20px;
    color: #09556C;
}

.permBox {
    position: relative;
    top: 500px;
    left: 100px;
    display: block;
    margin: 20px 0;
}

.textBox {
    position: relative;
    top: 350px;
    left: 140px;
    display: block;
    padding: 0;
    margin: 30px 0;
    width: 160px;
    text-align: left;
}

#submitNUser {
    position: absolute;
    top: 85%;
    left: 71%;
    color: #14A4D9;
    width: 100px;
    height: 50px;
    -webkit-transition: box-shadow 0.2s ease-in-out,
                        border 0.5s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out,
                     border 0.5s ease-in-out;
    transition: box-shadow 0.2s ease-in-out,
                border 0.5s ease-in-out;  
}

#submitNUser:hover {
    border: solid #09556C 1px;
    border-radius: 2px;
    box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#submitNUser:active {
    background: #09556C;
    color: #FFF;
}
