#account {
    position: relative;
    text-align: right;
    width: 100%;
    height: 100px;
}

#card {
    position: absolute;
    width: 700px;
    height: 700px;
    background: #fff;
    margin: 0;
    padding: 0;
    top: 7%;
    left: 8%;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.2), 0 4px 10px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#logo {
    position: absolute;
    top: 30%;
    left: 63%;
}

#fontNewFolder {
    font-size: 96px;
    position: relative; 
    top: 10px;
    color: #09556C;
    margin: auto;
}

#formNewUser {
    position: relative;
    width: inherit;
    height: 80%;
    display: block;
}

.dataListClass {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular';
    font-size: 26px;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%; /*Ocupa el tamaño total del padre*/
    height: calc(100% - 16px); 
    border-bottom: solid rgba(9,85,108,0.60) 1px;
    bottom: 0;
    left: 0;
    color: #09556C;
}

.dataListClass:focus {
    outline: 0px;
}

#textPermiso {
    position: absolute;
    top: 59%;
    left: 14.5%;
    font-family: 'Roboto-Regular';
    font-size: 20px;
    color: #09556C;
}

.permBox {
    display: block;
    margin: 0;
}

.textBox {
    display: block;
    position: relative;
    margin: 20px 0;
    width: 230px;
    height: 20px;
    text-align: left;
    color: #09556C;
    top: -25px;
    left: 40px;
    margin: 0;
}

#submitNUser {
    position: absolute;
    top: 79.3%;
    left: 71%;
    color: #09556C;
    width: 100px;
    height: 50px;
}

#submitNUser:hover {
    box-shadow: 0 8px 35px 2px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
}

#submitNUser:active {
    background: #09556C;
    border-radius: 2px;
    box-shadow: 0 8px 35px 2px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2);
    color: #FFF;
}

#permisos {
    position: absolute;
    width: 300px;
    height: 145px;
    top: 66%;
    left: 14.5%;
    overflow: auto;
}

.errorNombre {
    position: absolute;
    top: 30%;
    left: 14.5%;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    width: 200px;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #B71C1C;
    text-align: left;
}

.errorRol {
    position: absolute;
    top: 62.5%;
    left: 14.5%;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    width: 200px;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #B71C1C;
    text-align: left;
}

.errorPass {
    position: absolute;
    top: 51.5%;
    left: 14.5%;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    width: 250px;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #B71C1C;
    text-align: left;
}

.errorCheck {
    position: absolute;
    top: 93%;
    left: 14.5%;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    width: 200px;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #B71C1C;
    text-align: left;
}

/*Inicio media queries*/

@media screen and (max-width: 1350px) {
    
    #logo {
        display: none;
    }

    #card {
        position: relative;
        margin: auto auto 50px auto;
        left: 0;
        top: 50px;
    }

    #account {
        width: 700px;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    
    #card {
        width: 600px;
    }

    .contInput {
        width: 450px;
    }

    #lista {
        width: 450px;
    }

    #account {
        width: 600px;
    }
}

@media screen and (max-width: 668px) {
    
    #card {
        width: 500px;
    }

    .contInput {
        width: 350px;
    }

    #lista {
        width: 350px;
    }

    #account {
        width: 500px;
    }
}

@media screen and (max-width: 568px) {
    
    #card {
        width: 400px;
        height: 800px;
    }

    .contInput {
        width: 300px;
    }

    #lista {
        width: 300px;
    }

    #submitNUser {
        top: 92%;
        left: 38%;
    }

    .errorNombre {
        top: 28.5%;
        left: 12.5%;
    }

    .errorRol {
        top: 58%;
        left: 12.5%;
    }

    .errorPass {
        top: 48.5%;
        left: 12.5%;
    }

    .errorCheck {
        top: 93%;
        left: 14.5%;
    }

    #textPermiso {
        left: 12.5%;
    }

    #permisos {
        left: 12.5%;
    }

    #account {
        width: 400px;
    }
}

/*Fin media queries*/